.input {
  .iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 4px;
    border-radius: 8px;
    padding: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--background);
    border: var(--border);
  }
}

.input input {
  background-color: var(--surface);
  border: var(--border);
  height: 48px;
  border-radius: 8px;
  padding: 10px;
  padding-left: 54px;
  font-weight: 400;
  font-size: 14px;
  color: var(--foreground);
}

.input input::placeholder {
  color: var(--foreground-light);
}

.noIcon {
  .iconButton {
    display: none;
  }
}

.noIcon input {
  padding-left: 16px;
}
